*{
    margin: 0;
    padding: 0;
}
#main{
    position: relative;
}

/*确定框之间的间隔用padding,因为javaScript的offsetHight获取的高度包括padding*/
.box{
    padding: 15px 0 0 15px;
    float: left;
}
.pic{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}
.pic img{
    width: 165px;
    height: auto;
}